<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TeamCRUDTEsting" verbose="1" >
    <test name="Teams" >
        <classes>
            <class name="com.telran.qa15.tests.TeamCreationTest" />
            <class name="com.telran.qa15.tests.TeamDeletionTest" />
            <class name="com.telran.qa15.tests.TeamModificationTest" />
        </classes>
    </test>
</suite>